[Desktop Entry]
Encoding=UTF-8
Name=Lemonade
Comment=Refreshingly fast LLMs on GPUs and NPUs 
Type=Application
Exec=lemonade
Icon=${SNAP}/assets/logo.svg
Categories=Tools;
Keywords=AI;Copilot;GPT;ChatGPT;Gemini;
